*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background:#050816;
color:white;
padding:30px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:60px;
}

.logo{
width:60px;
}

button{
background:#00c3ff;
border:none;
padding:14px 24px;
border-radius:10px;
cursor:pointer;
font-weight:bold;
}

.hero{
text-align:center;
margin-bottom:50px;
}

.hero h2{
font-size:42px;
margin-bottom:15px;
}

.card{
max-width:700px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
margin-bottom:60px;
}

input{
padding:16px;
border:none;
border-radius:10px;
}

#entries{
max-width:800px;
margin:auto;
}

.entry{
background:#101827;
padding:15px;
border-radius:12px;
margin-bottom:12px;
}

footer{
margin-top:70px;
text-align:center;
}

footer a{
color:#00c3ff;
}
